<%= simple_form_for [:panel, @store] do |f| %>

  <div class="row">
    <div class="col-md-12">
      <%= f.button :submit, class: 'pull-right' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :cnpj, input_html: {class: 'cnpj-mask zip-code-input', placeholder: 'Insira o CNPJ da loja'} %>
    </div>
    <div class="col-md-5">
      <%= f.input :social_name, input_html: { placeholder: 'Razão social'} %>
    </div>
    <div class="col-md-4">
      <%= f.input :fantasy_name, input_html: { placeholder: 'Nome fantasia'} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.input :email, input_html: {placeholder: 'Insira um email válido'} %>
    </div>

    <div class="col-md-3">
      <%= f.input :phone, input_html: { class: 'phone-mask', placeholder: 'Telefone da loja' } %>
    </div>

    <div class="col-md-3">
      <%= f.input :password, input_html: {placeholder: 'Insira uma senha segura'} %>
    </div>

    <div class="col-md-3">
      <%= f.input :password_confirmation, input_html: { placeholder: 'Repita a senha aqui' } %>
    </div>
  </div>

  <%= f.simple_fields_for :address do |a| %>
    <div class="row">
      <div class="col-md-3">
        <%= a.input :zip_code, input_html: { class: 'cep-mask address-zip-code', placeholder: 'CEP do seu endereço'} %>
      </div>
      <div class="col-md-7">
        <%= a.input :street, input_html: { class: 'address-street' } %>
      </div>
      <div class="col-md-2">
        <%= a.input :numb, input_html: { class: 'address-numb' }%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= a.input :complement, input_html: { class: 'address-complement' } %>
      </div>
      <div class="col-md-3">
        <%= a.input :neighborhood, input_html: { class: 'address-neighborhood' } %>
      </div>
      <div class="col-md-4">
        <%= a.input :city, input_html: { class: 'address-city' }%>
      </div>
      <div class="col-md-2">
        <%= a.input :state, input_html: { class: 'address-state' }%>
      </div>
    </div>
  <% end %>



<% end %>
