<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag 'ad/user2-160x160.jpg', class: 'img-circle' %>
      </div>
      <div class=" info">
        <p><%= current_store.fantasy_name %></p>
        <a href="#"></i><%= current_store.cnpj_formatado %></a>
      </div>
    </div>


    <ul class="sidebar-menu">
      <li class="header">Menu</li>
      <% if current_store.address.present? %>
      <li>
        <%= link_to ad_root_path do %>
          <i class="fa fa-dashboard"></i> <span>Painel</span>
          <span class="pull-right-container">
          </span>
        <% end %>
      </li>
      <li>
        <%= link_to ad_promotions_path do %>
          <i class="ion ion-pricetags"></i> <span>Promoções</span>
           <span class="pull-right-container">
          </span>
        <% end %>
      </li>
      <% else %>

      <% end %>
    </ul>



  </section>
  <!-- /.sidebar -->
</aside>
