<%= simple_form_for [:ad, @promotion] do |f| %>
  <%= f.input :store_id, as: :hidden, input_html: { value: current_store.id } %>
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <%= f.association :segment %>
      </div>
      <div class="col-md-6">
        <%= f.input :title %>
      </div>
      <div class="col-md-2">
        <%= f.input :quantity  %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <%= f.input :description %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <%= f.input :endDate, as: :string, input_html: {class: 'datepicker'} %>
      </div>
    </div>

  </div>

  <div class="box-footer">
    <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
    <%= f.submit class: 'btn btn-primary btn-flat pull-right' %>
  </div>

<% end %>
