<%= simple_form_for [:ad, @promotion] do |f| %>
  <div class="box-body">
    <div class="row">
      <div class="col-md-8">
        <%= f.input :title %>
      </div>
      <div class="col-md-4">
        <%= f.input :quantity  %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <strong>Data Final:</strong><%= f.text_field :endDate, id: 'endDate', class: 'form-control' %>
      </div>
      
      
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.input :description %>
      </div>
    </div>
    
    <%= f.input :store_id, as: :hidden, input_html: { value: current_store.id } %>
    <%= f.input :segment_id, as: :hidden, input_html: { value: @segment.last.id } %>
  </div>

  <div class="box-footer">
    <%= link_to 'Voltar', :back, class: 'btn btn-default' %>
    <%= f.submit class: 'btn btn-primary pull-right' %>
  </div>

<% end %>
