
    <section class="content-header">
      <h1>Painel de <small>promoções</small></h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= @promotion.title %></h3>
              <div class="margin pull-right">
                <%= link_to ad_promotions_path, class: 'btn btn-default btn-flat' do %>
                   <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
                <% end %>
                <%= link_to edit_ad_promotion_path(@promotion), class: 'btn btn-default btn-flat' do %>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
                <% end %>
              </div>
            </div>
            <div class="box-body">

              <div class="col-xs-12 table-responsive">
                <h3>Tiket: <%= @promotion.cod %></h3>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Segmento</th>
                      <th>Data de criação</th>
                      <th>Quantidade</th>
                      <th>Data Final</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= @promotion.segment.name.capitalize %></td>
                      <td><%= @promotion.created_at.strftime("%d/%m/%Y") %></td>
                      <td><%= @promotion.quantity %></td>
                      <td><%= @promotion.endDate.strftime("%d/%m/%Y") if @promotion.endDate.present?  %></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Descrição</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= @promotion.description %></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>


    </section>
